body { 
    background-color:lightgoldenrodyellow;
}

h1 {
    text-align: center;
    font-size: 50px;
      font-family:timesnewroman;
       
}
h2 {
    text-align: center;
        font-family:¨timesnewroman¨,times,serif;
        background-color:white;
        
}

p{
    font-size:20px;
    color:maroon;

 text-align: center;

margin-left: 15%;
 margin-right: 15%;
  font-family:impact;

}
ul{
    text-decoration:none;
    color:black;
    padding-top: 0px;
  margin-left: 30%;
 margin-right: 30%;
  text-align: center;
  
    
}
li{text-decoration:none;
  margin-left: 30%;
 margin-right: 30%;
  text-align: center;
  color:black;
  font-family:impact;
}
.topic{
list-style-type:none;
font-size:30px;
color:maroon;
}
.header{
    border:10px solid maroon;
    background-color:white;
     padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
     margin-top: 0px;     
}
img{
    border-radius:50%;
     display: block;
    margin:auto;
    height: 200;
    width: 50;
  
}

    ol{text-decoration:none;
  margin-left: 30%;
 margin-right: 30%;
}

   li:hover{
       font-size:30px;
   } 

