body { 
    background-color:lightgoldenrodyellow;
}

h1 {
    text-align: center;
    font-size: 50px;
    font:¨oswald0¨;
}
h2 {
    text-align: center;
        font-family:¨timesnewroman¨,times,serif;
        background-color:white;
        font:¨Osawaldo¨;
}

p{
    font-size:40px;
    color:red;
font-family:¨Oswaldo¨;

}
ul{
    color:red;
}
li{text-decoration: underline;
}