table, th, td {
    border: 5px  solid black;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 25px;
}

img {
    width:25%;
   
}

 h2 {
    text-align: center;
        font-family:¨timesnewroman¨,times,serif;
        font-size: 30px
 }
 h1{
     font-family:impact;
     color:maroon;
     text-align: center;
     font-size: 30px
 }
 body { 
    background-color:lightgoldenrodyellow;
 }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
        

}

li a {
    display: block;
    color: maroon;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color:white;
    font-family:impact;
        
}

li a:hover {
    background-color:black;
}
p{
    font-size:20px;
    color:maroon;

 text-align: center;

margin-left: 15%;
 margin-right: 15%;
  font-family:impact;

}
ul{
 position:fixed; 
 top:0;
}
