 canvas{
     margin:auto;
        padding:0;
        position:absolute;
      
        left:0;
        right:0;
        top:0;
        bottom:0;
 } 
 
 h3{
     font-family:impact;
     color:red;
     
 }
 h4{
     font-family:impact;
     
 }